<div class="footer-background">
    <div class="footer-container custom-width">
        <footer>
            <div class="sitemap">
                <div class="left">
                    <section>
                        <div class="brand">BATISAM</div>
                        <p class="contact">
                            49 Avenue Jean Jaurès <br>
                            84290 Sainte-Cécile-les-Vignes <br>
                            batisam@gmail.com <br>
                            83 89 82 01 98
                        </p>
                    </section>
                </div>
                <div class="right">
                </div>
            </div>
            <div class="legals">
                © @_year BATISAM |
                <NavLink href="/mentions-legales">
                    Mentions légales
                </NavLink> |
                <NavLink href="/politique-de-confidentialite">
                    Politique de confidentialité
                </NavLink>
            </div>
        </footer>
    </div>
</div>

@code {
    private int _year = DateTime.Now.Year;
}