<div class="navbar-background">
    <div class="navbar-container custom-width">
        <div class="navbar">
            <NavLink class="brand" href="/"> BATISAM</NavLink>
            <img class="logo" src="/images/batisam-small.png" alt="BATISAM logo">
        </div>
    </div>
</div>