@page "/"

<div class="hero-container">
    <div class="hero">
        <section class="welcome-message">
            <h1>Construisez votre avenir avec nous.</h1>
            <p>Découvrez notre entreprise de maçonnerie.</p>
        </section>
    </div>
    <div class="contacts">
        <div class="address contact">
            <ion-icon name="home-outline"></ion-icon>
            <section>
                <div class="title">Adresse</div>
                <p>49 Avenue Jean Jaurès <br> 84290 Sainte-Cécile-les-Vignes</p>
            </section>
        </div>
        <div class="mail contact">
            <ion-icon name="mail-outline"></ion-icon>
            <section>
                <div class="title">Mail</div>
                <p>batisam@gmail.com</p>
            </section>
        </div>
        <div class="phone contact">
            <ion-icon name="call-outline"></ion-icon>
            <section>
                <div class="title">Téléphone</div>
                <p>00 00 00 00 00</p>
            </section>
        </div>
    </div>
</div>
<div class="presentation-background">
    <div class="presentation-container custom-width">
        <div class="presentation">
            <section class="main-description">
                <div class="punchline">
                    <h2>Les professionels pour vos travaux de maçonnerie.</h2>
                </div>
                <div class="details">
                    <p>
                        BATISAM est une entreprise de maçonnerie renommée,
                        spécialisée dans la construction et la rénovation
                        de bâtiments résidentiels et commerciaux. Forte de
                        plusieurs années d'expérience, elle se distingue par
                        la qualité de ses réalisations et son souci du détail.
                        L'équipe de BATISAM, composée de maçons qualifiés et passionnés,
                        utilise des matériaux de première qualité pour garantir la
                        durabilité et l'esthétique des ouvrages.
                    </p>
                    <p>
                        En plus des travaux de maçonnerie traditionnelle, l'entreprise
                        offre des services de rénovation complète, incluant la restauration
                        de façades et la création de structures sur mesure. La satisfaction
                        de la clientèle est au cœur de ses priorités, assurant des projets
                        livrés dans les délais impartis et respectant les budgets établis.
                        BATISAM est votre partenaire de confiance pour tous vos projets de
                        construction et de rénovation.
                    </p>
                </div>
            </section>
            <section class="processes">
                <div class="command process">
                    <ion-icon name="document-text-outline"></ion-icon>
                    <p>Commande</p>
                </div>
                <div class="plan process">
                    <ion-icon name="calendar-outline"></ion-icon>
                    <p>Planification</p>
                </div>
                <div class="build process">
                    <ion-icon name="home-outline"></ion-icon>
                    <p>Travaux</p>
                </div>
                <div class="happy process">
                    <ion-icon name="happy-outline"></ion-icon>
                    <p>Profitez</p>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="domains">
    <div class="masonry picture domain"></div>
    <div class="masonry description domain">
        <section>
            <h2>Construction</h2>
            <p>
                BATISAM est une société de maçonnerie réputée offrant une gamme
                complète de services de construction pour répondre à tous vos besoins.
                Spécialisée dans la construction neuve, la rénovation et la restauration,
                l'entreprise excelle dans la réalisation de projets résidentiels,
                commerciaux et industriels. Les services incluent la pose de briques,
                de pierres et de blocs, ainsi que la construction de murs porteurs et
                de fondations. BATISAM s'engage à utiliser des matériaux de haute qualité
                et à respecter les délais impartis. Avec une équipe de professionnels
                qualifiés, l'entreprise garantit des travaux durables et conformes aux
                normes en vigueur.
            </p>
            <button>INFORMATIONS</button>
        </section>
    </div>
    <div class="renovation picture domain"></div>
    <div class="renovation description domain">
        <section>
            <h2>Renovation</h2>
            <p>
                BATISAM offre des services complets de rénovation pour transformer et
                moderniser vos espaces résidentiels et commerciaux. Spécialisée dans
                la rénovation intérieure et extérieure, l'entreprise s'occupe de la
                démolition, de la reconstruction, de la pose de nouveaux revêtements
                et de l'isolation. Les artisans de BATISAM travaillent avec soin pour
                préserver le caractère original des bâtiments tout en intégrant des
                éléments modernes. Qu'il s'agisse de rénover une cuisine, une salle de
                bains, ou de réaménager un espace complet, l'entreprise garantit des
                résultats impeccables, respectant les normes et vos attentes. Leur
                expertise assure des travaux de qualité, réalisés dans les délais
                impartis.
            </p>
            <button>DÉTAILS</button>
        </section>
    </div>
</div>
<div class="subdomains-background">
    <div class="subdomains custom-width">
        <div class="debris subdomain">
            <div class="spacer"></div>
            <section>
                <button>INFOS</button>
                <div class="content">
                    <div class="title">Durabilité</div>
                    <p>Utilisation de matériaux recyclés et traitement des débris.</p>
                </div>
            </section>
        </div>
        <div class="plan subdomain">
            <div class="spacer"></div>
            <section>
                <button>INFOS</button>
                <div class="content">
                    <div class="title">Écoute</div>
                    <p>Adaptation à votre environement et travail en coordination avec l'architecte.</p>
                </div>
            </section>
        </div>
        <div class="expert subdomain">
            <div class="spacer"></div>
            <section>
                <button>INFOS</button>
                <div class="content">
                    <div class="title">Expertise</div>
                    <p>Depuis 1996 dans la région, au service du privé et du public.</p>
                </div>
            </section>
        </div>
    </div>
</div>
