h1 {
    font-size: 1.375rem;
}

.privacy-policy-content {
    padding: 4rem 0;
    margin: 0 1rem;
}

.privacy-policy-articles {
    margin-top: 3rem;
}

    .privacy-policy-articles section.privacy-policy-article {
        margin-top: 2rem;
    }

@media (min-width: 900px) {
    .privacy-policy-content {
        width: 70%;
    }
}

@media (min-width: 1282px) {
    h1 {
        font-size: 1.5rem;
    }
}