@page "/politique-de-confidentialite"

<div class="privacy-policy-background">
    <div class="privacy-policy-container custom-width">
        <div class="privacy-policy-content">
            <h1>Politique de confidentialité</h1>
            <div class="privacy-policy-articles">
                <section class="privacy-policy-article">
                    <p>
                        Ce site ne collecte, ni ne stocke aucune donnée personnelle 
                        des visiteurs. Nous n'utilisons pas de cookies, de formulaires, 
                        ou d'autres moyens de collecte d'informations.
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>