.brand {
    color: #fff !important;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Bebas Neue", sans-serif;
}

.navbar .brand {
    font-size: 2.625rem;
}

@media (min-width: 900px) and (max-width: 1282px) {
    .navbar .brand {
        font-size: 3rem;
    }
}

@media (min-width: 1282px) {
    .navbar .brand {
        font-size: 3.5rem;
    }
}
